@import url('https://fonts.googleapis.com/css?family=Maven+Pro:100,300,300i,400,700');

/* PDF Specific */

body {
  font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji; !important
  font-size: 18px;
}

h1 {
  font-size: 2em;
  color: #4472c4;
}

h2 {
  font-size: 1.75em;
  color: #4472c4;
}

h3 {
  font-size: 1.5em;
  color: #4472c4;
}

h4 {
  font-size: 1.25em;
  color: #4472c4;
}

h5 {
  font-size: 1em;
  color: #4472c4;
}

h6 {
  font-size: 0.875em;
  color: #4472c4;
}

a {
  color: #4472c4;
  text-decoration: none;
}

a:hover {
  color: #facb78;
  text-decoration: underline;
}

.dark-mode {
    display: none;
}
